/* ------ BODY ------ */
#title
{ 	text-align: center;
	border-bottom: 1px solid black;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#subText
{ 
	padding-top: 5px;
}

h4
{	padding-top: 10px;
	padding-bottom: 5px;
}