/* ------ BODY ------ */
#title
{ 	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	//border-bottom: 1px solid black;
	font-size: 24px;	}
	
p
{
	padding: 10px;
}

ul li 
{
	list-style-type: none;
	font-weight: bold;
	border-bottom: 1px solid black;
}


ul li a
{
	text-decoration: none;
	color: red;
	font-weight:bold;
}

ul li a:hover
{
	color: gray;
}

#subText { padding-top: 5px; }
